@page
@model Laboratorio1Web.Pages.EditarPrestamoModel
@{
}

<form method="post">
    <input type="hidden" asp-for="Prestamo.Id" />
    <div asp-validation-summary="ModelOnly"> </div>
    <div class="form-group">
        <label asp-for="Prestamo.CodigoPrestamo">
            <input type="text" class="form-control" asp-for="Prestamo.CodigoPrestamo" placeholder="Ingresa el codigo del prestamo">
        </label>
        <span class="text-danger" asp-validation-for="Prestamo.CodigoPrestamo"></span>
    </div>
    <div class="form-group">
        <label asp-for="Prestamo.FechaPrestamo">
            <input type="text" class="form-control" asp-for="Prestamo.FechaPrestamo" placeholder="Ingresa la fecha del prestamo">
        </label>
        <span class="text-danger" asp-validation-for="Prestamo.FechaPrestamo"></span>
    </div>
    <div class="form-group">
        <label asp-for="Prestamo.FechaDevolucion">
            <input type="text" class="form-control" asp-for="Prestamo.FechaDevolucion" placeholder="Ingresa la fecha de devolucion de prestamo">
        </label>
        <span class="text-danger" asp-validation-for="Prestamo.FechaDevolucion"></span>
    </div>
    <div class="form-group">
        <label asp-for="Prestamo.ClientID">
            <input type="text" class="form-control" asp-for="Prestamo.ClientID" placeholder="Ingresa el id del cliente">
        </label>
        <span class="text-danger" asp-validation-for="Prestamo.ClientID"></span>
    </div>
    <div class="form-group">
        <label asp-for="Prestamo.PeliculaID ">
            <input type="text" class="form-control" asp-for="Prestamo.PeliculaID " placeholder="Ingresa el id de la pelicula">
        </label>
        <span class="text-danger" asp-validation-for="Prestamo.PeliculaID "></span>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button> <br />
    <a asp-page="/Prestamos">Regresar a Prestamos</a>
</form>