@page
@model Laboratorio1Web.Pages.EliminarPeliculaModel
@{
}

<h1>Eliminar Pelicula</h1>

<form method="post">
    <input type="hidden" asp-for="Pelicula.Id" />
    <div asp-validation-summary="ModelOnly"> </div>
    <div class="form-group">
        <label asp-for="Pelicula.Codigo">
            <input type="text" class="form-control" asp-for="Pelicula.Codigo"  readonly="readonly">
        </label>
    </div>
    <div class="form-group">
        <label asp-for="Pelicula.Titulo">
            <input type="text" class="form-control" asp-for="Pelicula.Titulo"  readonly="readonly" >
        </label>
    </div>
    <div class="form-group">
        <label asp-for="Pelicula.Año">
            <input type="text" class="form-control" asp-for="Pelicula.Año"  readonly="readonly">
        </label>
    </div>
    <div class="form-group">
        <label asp-for="Pelicula.Duracion">
            <input type="text" class="form-control" asp-for="Pelicula.Duracion"  readonly="readonly">
        </label>
    </div>

    <button type="submit" value="Delete" class="btn btn-danger">Delete</button> <br />
    <a asp-page="/Peliculas">Regresar a Peliculas</a>
</form>