@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"><b>Laboratorio #1</b></h1>
</div>
<div class="card mb-11" style="max-width: 540px;" >
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="https://yt3.ggpht.com/ytc/AAUvwngyYfeIJFo0t2MJStcesBzT_Ia9wQJNAUAEKL1Rqw=s900-c-k-c0x00ffffff-no-rj" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">UNIVERSIDAD DE ORIENTE</h5>
                <p class="card-text">Desarrollo de Paginas Web Activas</p>
                <p class="card-text">Jhojaira Abigail Cruz Márquez </p>
            </div>
        </div>
    </div>
</div>
